[submodule "part03/fullstackopen_render"]
	path = part03/fullstackopen_render
	url = git@github.com:Auxidity/fullstackopen_render.git
[submodule "part10/fullstackopen_react_native"]
	path = part10/fullstackopen_react_native
	url = git@github.com:Auxidity/fullstackopen_react_native.git
[submodule "part11/full-stack-open-pokedex"]
	path = part11/full-stack-open-pokedex
	url = https://github.com/Auxidity/full-stack-open-pokedex
[submodule "part11/fullstack_open_cicd_bloglist"]
	path = part11/fullstack_open_cicd_bloglist
	url = https://github.com/Auxidity/fullstack_open_cicd_bloglist
